module.exports = {
    JWT_SECRET: 'SomeLongStringHere',
    SALT: 'SomeLongStringHereAlso',
    EMAIL: 'emailfrom@yourdomain.com',
    EMAIL_PASSWORD: 'yourSmtpEmailPassword',
    EMAIL_SMTP: 'smtp.yoursmtp.com',
    EMAIL_NAME: 'This will show as from name',
    DB_URL: 'mongodb://USERNAME:PASSWORD@HOSTNAME:27017/DBNAME?authMechanism=DEFAULT&authSource=AUTHDBNAME',
    DB_PORT: 27017,
    APP_PORT: 3011,
    UPLOAD_DIR: 'uploads/',
    UPLOAD_FILE_SIZE_LIMIT:30000000,
    COOKIE_MAX_AGE: 8640000000,
    COOKIE_DOMAIN: 'www.yourdomain.com',
    COOKIE_PATH: '/',
    COOKIE_SECURE: false,
    SOURCES: ['photo', 'spot', 'user', 'fish'],
};
